.topPages {
    background-color:  rgba(182, 181, 181, 0.747);;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 3.5rem;
}

.buscador {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buscador input {
    width: 90%;
    border: 0px;
}
.iconBus {
    width: 1.5rem;
    height: 1.5rem;
}
