.contProd{
    display: flex;
    justify-content: space-around;
}

.productos {
    max-width: 1500px; 
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
