.card{
    min-width: 17rem;
    border: solid 2px;   
    margin: 15px;
    background-color: white;
}
.cardTop{
    max-height: 15rem;
    margin-bottom: solid 4px;
}

.card-img-top{
    height: 19rem;
    padding: 1rem;
}

.card-body{
    width: 100%;
    background-color: rgb(182, 181, 181);;
    border-top: solid 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cardMid{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.cardDown{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.carIcon{
    width: 2rem;
    height: 2rem;
}